@import "variables.scss";


body {
    // cursor: pointer;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light-purple-color;

}
h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-family: $font-family;
    color: $purple-color;
    font-weight: 900;
}

a,
p,
span,
input,
td,
tr,
th {
    font-family: $font-family;
}
.p-dialog{
    width: 500px;

}