$primary-color: #33cc99;
$purple-color:#36417d;
$purple-disabled-color:#36417d9c;

$light-purple-color:ghostwhite;
$base-color:#000;
$grey-color-dark: #697682;
$grey-color:#D8D8D8;
$grey-color-light:#fafafa;
$grey-light: rgba(229, 231, 235, 1);
$white-color: white;
$light-color: #ffffff;
$dark-color: #333333;
$mask-color:rgba(0, 0, 0, 0.4);
$danger-color:#991B1B;
$ligth-danger-color: #f28f8f ;
$succes-color:#166534;
$info-color:rgb(29, 29, 171);
$warnig-color:#fceb00;
$tag-expired:#FEE2E2;
$tag-valide:#DCFCE7;
$xs-screen: 414px;
$sm-screen:576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;
$xxxl-screen:1650px;
$text-xs:10px;
$text-sm:14px;
$text-md:18px;
$text-lg:26px;
$text-4xl:36px;
$font-family: 'Raleway';