<p-toast></p-toast>

<div class="container">
  <h2 class="title py-4">
    Gestion Des Réservations
    <button class="secondary-button" style="float: right" (click)="add()">
      <span class="pi pi-plus" aria-hidden="true"></span> Ajouter une
      réservation
    </button>
  </h2>
  <p-progressBar
    *ngIf="reservationService.isLoading || isLoading"
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>

  <div class="card p-4">
    <p-table
      #dt
      [value]="reservationService.data"
      [rowHover]="true"
      columnResizeMode="expand"
      [rows]="10"
      styleClass="p-datatable"
      [showCurrentPageReport]="true"
      [paginator]="true"
      currentPageReportTemplate="{totalRecords} réservation(s)"
      [filterDelay]="0"
    >
      <ng-template pTemplate="headergrouped">
        <tr class="bg-white">
          <th>ID</th>
          <th>Année Universitaire</th>
          <th>Est Valide</th>
          <th>Etudiants</th>
          <th>Chambre</th>
          <th>Bloc</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr class="p-selectable-row">
          <td>
            <a (click)="setSelectedReservation(reservation)">{{
              reservation?.id
            }}</a>
          </td>
          <td>{{ reservation.anneeUniversitaire.slice(0, 4) }}</td>
          <td>{{ reservation.estValide ? "Oui" : "Non" }}</td>

          <!-- Etudiant column -->
          <td *ngIf="reservation.etudiants.length > 0" class="etudiant-column">
            <div *ngFor="let etudiant of reservation.etudiants">
              <div
                [pTooltip]="
                  'id: ' +
                  etudiant.id +
                  ', Cin: ' +
                  etudiant.cin +
                  ', Ecole: ' +
                  etudiant.ecole +
                  ', Date Naissance: ' +
                  etudiant.dateNaissance
                "
              >
                {{ etudiant.nom }} {{ etudiant.prenom }}
              </div>
            </div>
          </td>
          <td *ngIf="reservation.etudiants.length === 0">Aucun étudiant</td>
          <td>
            <div
              *ngIf="reservation?.chambre"
              [pTooltip]="
                'id: ' +
                reservation.chambre.id +
                ', Type: ' +
                reservation.chambre.type
              "
            >
              {{ reservation.chambre.numero }}
            </div>
            <div *ngIf="!reservation.chambre">Aucune chambre</div>
          </td>
          <td>
            <div
              *ngIf="reservation.chambre?.bloc"
              [pTooltip]="
                'id: ' +
                reservation.chambre.bloc.id +
                ', Capacité: ' +
                reservation.chambre.bloc.capacite +
                ', foyer: ' +
                reservation.chambre.bloc.foyer
              "
            >
              {{ reservation.chambre.bloc.nom }}
            </div>
            <div *ngIf="!reservation.chambre?.bloc">Aucun bloc</div>
          </td>
          <!-- Action column -->
          <td class="button-column">
            <!-- Edit button -->

            <button
              pButton
              type="button"
              icon="pi pi-check"
              (click)="validate(reservation.id)"
              [disabled]="
                reservation.estValide ||
                reservation.etudiants.length === 0 ||
                reservation.chambre === null
              "
              class="p-button-success"
            ></button>

            <!-- <button
              pButton
              type="button"
              icon="pi pi-pencil"
              (click)="edit(reservation.id)"
            ></button> -->

            <button
              pButton
              type="button"
              icon="pi pi-times"
              (click)="cancel(reservation.etudiants[0].cin)"
              [disabled]="
                reservation.etudiants.length === 0 || !reservation.estValide
              "
              class="p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Aucune réservation trouvée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation"></p-confirmDialog>
  </div>
  <app-reservation-details
    [reservation]="selectedReservation"
  ></app-reservation-details>
</div>