<app-nav-b></app-nav-b>

<div class="container">

    <h2 class="text-center mb-4">
            Modifier un Bloc
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
      <form #updateForm="ngForm" (ngSubmit)="updateBloc()">
        <div class="mb-3"> </div>

        
                <label for="nomBloc">Nom du Bloc</label>
                <input [(ngModel)]="blocData.nomBloc" #nomBloc="ngModel" id="nomBloc" class="form-control" type="text" name="nomBloc" maxlength="5" required>
            
                <small class="text text-danger" *ngIf="nomBloc?.errors?.['required'] && nomBloc.touched"></small>

            
                <label class="form-check-label" for="capacityBloc">capacité du Bloc</label>
                <input [(ngModel)]="blocData.capacityBloc" #capacityBloc="ngModel" id="capacityBloc" class="form-control" type="data" name="capacityBloc" >
            

            
                <button type="submit" class="btn btn-primary">Modifier</button>
           
      </form>

    

        <!--<div class="card-footer" *ngIf="showAlert">
            <div class="alert alert-success" role="alert">
                <button class="close" (click)="closeAlert()">&times;</button>
                <strong>Modifié avec succés</strong>
            </div>
        </div>-->


</div>