<div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary" (click)="navigateToAddUser()">Ajouter un utilisateur</button>
          </div>
  
          <div class="table-responsive mt-4">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>passwod</th>
                <th>age</th>
                <th>Adresse</th>
                <th>Action</th>
  
  
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let f of listuser" class="table-row">
                <td class="table-cell">{{ f.nom }}</td>
                <td class="table-cell">{{ f.prenom }}</td>
                <td class="table-cell">{{ f.email }}</td>
                <td class="table-cell">{{ f.password }}</td>
                <td class="table-cell">{{ f.age }}</td>
                <td class="table-cell">{{ f.adresse }}</td>
  
                <td class="table-cell">
                  <!--<a [routerLink]="['editUser', f.idFoyer]" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit">
                    <i class="fas fa-edit"></i>
                  </a>
                        -->
                  <!--   <button (click)="deleteFoyer(f.idFoyer)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer">
                       <i class="fas fa-trash-alt"></i>
                     </button> -->
  
                 </tr>
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>
  