<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a [routerLink]="['/universitelist']">
                        <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">University Dashboard</span>
                    </a>
                  </li>
                  
                  <li class="has-subnav">
                        <a [routerLink]="['/foyer/listfoyer']">

                        <i class="fa fa-globe fa-2x"></i>
                      <span class="nav-text">Foyer</span>
                    </a>
                  </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
Blocs                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a [routerLink]="['/listchambre']">
                        <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                              Chambres                        </span>
                    </a>
                   
                </li>
                <li>
                    <a [routerLink]="['/bloc/bloclist']">
                        
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
Bloc                                </span>
                    </a>
                </li>

            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>