<app-navcham></app-navcham>
<div class="container-fluid">

<div class="col-8 ml-auto"> <!-- Utilisez col-8 pour définir la largeur de la colonne -->
    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">List des Chambres</h4>
  
        <div class="d-flex justify-content-between mb-3">
            <div></div> <!-- Empty div to push the search bar to the right -->
            <div>
                <input type="text" name="search" [(ngModel)]="searchText" type="search" class="form-control" placeholder="search">
                <div class="search-hero"></div>
            </div>
        </div>
  
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>numeroChambre</th>
                        <th>TypeChambre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd" *ngFor="let chambre of listChambre ">
                        <td>{{ chambre.idChambre }}</td>
                        <td>{{ chambre.numeroChambre }}</td>
                        <td>{{ chambre.typec }}</td>
                        <td>
                            <button (click)="deleteChambre(chambre.idChambre)" class="btn btn-danger">Supprimer</button>
                            <a [routerLink]="['/updatechambre', chambre.idChambre]" class="btn waves-effect waves-light btn-warning">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  
        <!-- Add new room button below the table -->
        <div class="mt-3 text-right">
            <a routerLink="/addchambre" class="btn btn-md btn-outline-primary">
                <i class="fa fa-user"></i>Add new room
            </a>
        </div>
    </div>
</div>
</div>
