<app-navbar></app-navbar>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
    <div class="d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary custom-button" (click)="navigateToAddFoyer()">Ajouter un foyer</button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <!-- En-têtes de la table -->
                <thead>
                    <tr>
                        <th>Nom Foyer</th>
                        <th>Capacite Foyer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- Contenu de la table -->
                <tbody>
                    <tr *ngFor="let f of List_foyer" class="table-row">
                        <!-- Cellules de la table -->
                        <td class="table-cell">{{ f.nomFoyer }}</td>
                        <td class="table-cell">{{ f.capaciteFoyer }}</td>
                        <td class="table-cell">
                           <!--  <a [routerLink]="['editUser', f.idFoyer]" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button (click)="deleteFoyer(f.idFoyer)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                <i class="fas fa-trash-alt"></i>
                            </button> -->
                            <a [routerLink]="['editUser', f.idFoyer]" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit">
                                Edit
                              </a>
                              <button (click)="deleteFoyer(f.idFoyer)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                Supprimer
                              </button>
                              
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
