<app-navbar-un></app-navbar-un>
<div class="container-fluid">
    <div class="card" style="width: 50%; margin: 10px auto;">
        <div class="card-header">
            Ajouter une université
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nomUniversite">Nom de l'université</label>
                <input [(ngModel)]="universite.nomUniversite" id="nomUniversite" class="form-control" type="text" name="" required maxlength="15">
            </div>

            <div class="form-group">
                <label for="adresse">adresses de l'université</label>
                <input [(ngModel)]="universite.adresse" id="adresse" class="form-control" type="text" name="" required placeholder="num,rue, ville, code postal">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" (click)="saveUniversite()">Ajouter</button>
            </div>


        </div>

        <div class="card-footer" *ngIf="showAlert">
            <div class="alert alert-success" role="alert">
                <button class="close" (click)="closeAlert()">&times;</button>
                <strong>Ajouté avec succés</strong>
            </div>
        </div>

    </div>

</div>